<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <style>
    .todo-item {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1 class="text-center">Todo List</h1>

      <div class="card mb-3">
        <div class="card-body">

          <form th:action="@{/todos}" method="post">
            <div class="form-group">
              <input type="text" name="title" class="form-control" placeholder="Enter a new todo">
            </div>
            <div class="form-group">
              <input type="text" name="description" class="form-control" placeholder="Enter a description">
            </div>
            <button type="submit" class="btn btn-primary">Add Todo</button>
          </form>

        </div>
      </div>

      <ul class="list-group-item">

        <li th:each="todo : ${todos}" class="list-group-item todo-item">
          <form th:action="@{/todos/update}" method="post">
            <input type="hidden" name="id" th:value="${todo.id}">

            <div class="form-check">

              <input type="checkbox" class="form-check-input" th:checked="${todo.completed}"
                     th:disabled="${todo.completed}" onchange="this.form.submit()">
              <label class="form-check-label" th:class="${todo.completed} ? 'completed' : ''">
                <span th:text="${todo.title}"></span>
              </label>

            </div>

            <p class="mb-0" th:text="${todo.description}"></p>

            <input type="hidden" name="id" th:value="${todo.id}">
            <button type="submit" class="btn btn-danger btn-sm" formaction="/todos/delete">Delete</button>

          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
